@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.form-outer{
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px gray;
    text-align:justify;
    width: 700px;
    margin: 0 auto;
}

.common-input-class{
    border-radius: 10px;
    width: 600px;
    height: 40px;
    border: solid 1px gray;
    font-size: large;
    font-family: "Roboto","sans-serif";
    padding-left: 20px;
}

.message{
    border-radius: 10px;
    width: 600px;
    height: 100px;
    border: solid 1px gray;
    font-size: large;
    font-family: "Roboto","sans-serif";
    padding-left: 20px;
    padding-top: 30px;
}

.common-label-class{
    font-size: large;
    font-family: "Roboto","sans-serif";
    color: black;
}