@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.footer-box{
    border-top: 2px solid gray;
    margin-top: 5%;
    padding: 90px 90px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 150px;
    width: 150px;
    transition: ease all 0.3s;
}

.social-media-info{
    height: 320px;
    width: 300px;
}

.social-media-apps{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: auto;
    text-align: left;
    transition: ease all 0.3s;
}

.hover-social:hover{
    transform: translateY(-4px);

}

.email-name{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 215px;

}

.email-name:hover{
    color: gray;
    cursor: pointer;
}

.phone-no{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 170px;
}

.phone-no:hover{
    color: gray;
    cursor: pointer;
}

.address{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 200px;
}

.address:hover{
    color: gray;
    cursor: pointer;
}

.below-footer{
    color: gray;
    font-family: "Roboto","sans-serif";
    text-align: center;
}

.pages{
    text-align: start;
}

.github{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 180px;
}

.github:hover{
    color: gray;
    cursor: pointer;
}