@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.projects-heading{
    width: 600px;
    text-align: center;
    margin-left: 30.5%;
    margin-top: 7%;
    margin-bottom: 5%;
    padding: 0px 25px;
}

.news-icon {
    height: 80px;
    width: 80px;
    padding: 2px 2px;
    border-radius: 10px;
    background-color: skyblue;
}

.project-one{
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: space-evenly;
}

.project-one-desc{
    width: 400px;
}

.project-row1{
    display: flex;
    justify-content: space-evenly;

}

.project-two{

    display: flex;
    width: 400px;
    height: 100px;
    justify-content: space-evenly;

}

.project-two-desc{
    width: 400px;
}

.project-one-one{
    width: 500px;
    padding: 25px 25px;
    border-radius: 8px;
    box-shadow: 0 0 8px;
    margin-bottom: 3%;
}


.chat-icon {
    height: 80px;
    width: 80px;
    padding: 2px 2px;
    border-radius: 10px;
    background-color: lightcoral;
}

.project-two-two{
    width: 500px;
    padding: 25px 25px;
    border-radius: 8px;
    box-shadow: 0 0 8px;
    margin-bottom: 3%;
}

.property-icon{
    height: 80px;
    width: 80px;
    padding: 2px 2px;
    border-radius: 10px;
    background-color: cyan;
}

.fitness-icon{
    height: 80px;
    width: 80px;
    padding: 2px 2px;
    border-radius: 10px;
    background-color: yellow;
}

